*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #F6F7F8;
    font-size: 16px;
    line-height: 1.5rem;
}

h1 {
    font-size: 2rem;
    font-family: fot-udkakugo-large-pr6n, sans-serif;
    font-weight: 600;
    font-style: normal;
}

img {
    height: 100px;
}

.page {
    width: 95%;
    margin: 0 auto;
}

/*============================================
ボタンについて
============================================*/
.button {
    text-decoration: none;
    font-family: fot-udkakugo-large-pr6n, sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 8px; /*角の丸み*/
    margin-bottom: 20px;
}

.b-mainTop {
    margin-top: 200px;
    font-size: 24pt;
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    color: #FFF;
    background: #F4733D; /*背景色*/
    border-bottom: solid 2px #9e4a27; /*少し濃い目の色に*/
    width: 70%;
}

.b-mainConf {
    margin-top: 20px;
    font-size: 18pt;
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    color: #FFF;
    background: #F4733D; /*背景色*/
    border-bottom: solid 2px #9e4a27; /*少し濃い目の色に*/
    width: 70%;
}

.b-test {
    border: solid 2px #F4733D;
    font-size: 8pt;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    color: #F4733D;
    background: #F6F7F8; /*背景色*/
    border-bottom: solid 2px #c4582d; /*少し濃い目の色に*/
    width: 35%;
}

.button:active {
    border-bottom: solid 2px #F4733D;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/*============================================
カードっぽい奴
============================================*/

.container {
    border-radius: 6px;
    border: solid 1px whitesmoke;
    box-shadow: 0px 0px 3px silver;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1rem;
    background-color: white;
}

.containerTitle {
    margin: 1rem;
    border-bottom: 2px solid hsl(0, 0%, 85%);
    margin: 0.5rem, 0rem;
    padding-bottom: 0.5rem;
}

.list {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: 0.5rem;
    padding: 0.5rem;
}

dl,
dl span {
    display: contents;
}

dt,
dd {
    font-size: 1rem;
    padding: 0.75em 1rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

dt {
    text-align: right;
}

dd {
    text-align: left;
}

/*============================================
QRコードリーダー
============================================*/
.fullscreen {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/*============================================
ヘッダー
============================================*/
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: -moz-linear-gradient(top, #01a7b2, #2CC0B3);
    background: -webkit-linear-gradient(top, #01a7b2, #2CC0B3);
    background: linear-gradient(to bottom, #01a7b2, #2CC0B3);
    width: 100%;
    /*repeat: no-repeat;*/
}

.header h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

/*============================================
バックボタン
============================================*/
.backbutton {
    margin-top: 0.75rem;
    margin-left: 1.5rem;
    width: 1.41rem;
    height: 1.41rem;
    border: 5px solid;
    border-color: transparent transparent white white;
    transform: rotate(45deg);
    cursor: pointer;
}

/*============================================
アニメーション
============================================*/
.slide-left-enter-to,
.slide-right-enter-to {
    opacity: 1;
}
.slide-left-enter-active,
.slide-right-enter-active {
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.slide-left-leave,
.slide-right-leave {
    opacity: 1;
}
.slide-left-leave-active,
.slide-right-leave-active {
    transition: opacity 250ms ease-out, transform 250ms ease-out;
}
.slide-left-enter {
    opacity: 0;
    transform: translateX(100%);
}
.slide-left-leave-to {
    opacity: 0;
    transform: translateX(-100%);
}
.slide-right-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.slide-right-leave-to {
    opacity: 0;
    transform: translateX(100%);
}
