*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
html {
    background-color: #ffffff;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.5rem;
}

/* スクロールバー非表示 */
html {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2rem;
    font-family: "Noto Sans JP";
    font-weight: 600;
    font-style: normal;
}

.center {
    text-align: center;
}

.ui-alert {
    word-break: break-all;
}
/*============================================
ボタン
============================================*/
.button {
    text-decoration: none;
    font-style: normal;
    border-radius: 8px;
}

.button--large {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: inline-block;
    color: #fff;
    background: -moz-linear-gradient(top, #19769f, #35d8a6);
    background: -webkit-linear-gradient(top, #19769f, #35d8a6);
    background: linear-gradient(to left, #19769f, #35d8a6);
    border: 0px;
    border-bottom: solid 2px #19769f;
    width: 70%;
}

.button--normal {
    border: solid 2px #28c49d;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    color: #239472;
    background: #f5f5f5;
    border-bottom: solid 2px #19769f;
    width: 40%;
}

.button--wide {
    border: solid 2px #28c49d;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    color: #239472;
    background: #f5f5f5;
    border-bottom: solid 2px #19769f;
    width: 90%;
}

.button:active {
    border-bottom: solid 2px #35d8a6;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

/*============================================
カードっぽい奴
============================================*/
.container {
    border-radius: 8px;
    border: solid 1px whitesmoke;
    box-shadow: 0px 0px 3px silver;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: white;
}

.containerTitle {
    border-bottom: 2px solid hsl(0, 0%, 85%);
    margin: 0.5rem;
    padding-bottom: 0.5rem;
}

.list {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: 0.5rem;
    padding: 0.5rem;
}

dl,
dl span {
    display: contents;
}

dt,
dd {
    font-size: 1rem;
    padding: 0.75em 1rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

dt {
    text-align: right;
}

dd {
    text-align: left;
}

.other {
    padding-left: 5%;
    padding-right: 5%;
}

.blank {
    height: 10px;
}

/*============================================
QRコードリーダー
============================================*/
.fullscreen {
    z-index: 20;
    position: center;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 247.6mm;
    margin-left: auto;
    margin-right: auto;
}

.com-note {
    position: center;
    font-size: 1.5rem;
    font-style: normal;
    z-index: 30;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.8);
    height: 70px;
    color: #ffffff;
    -webkit-border-radius: 0 0 10px 10px / 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px / 0 0 10px 10px;
    border-radius: 0 0 10px 10px / 0 0 10px 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}

.com-note button {
    color: #fff;
    transition: all 0.3s;
    position: absolute;
    font-size: 16px;
    /*margin-top: 5px;*/
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    right: 30px;
}

.com-note button span {
    transition: all 0.3s;
}
.com-note button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}
.com-note button:hover span {
    letter-spacing: 2px;
}
.com-note button:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.com-note button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}
.com-note button:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}
/*============================================
ヘッダー
============================================*/
.header {
    display: table;
    background: -moz-linear-gradient(top, #19769f, #35d8a6);
    background: -webkit-linear-gradient(top, #19769f, #35d8a6);
    background: linear-gradient(to left, #19769f, #35d8a6);
    width: 100vw;
    height: 4rem;
    text-align: center;
}

.header h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    margin: 1rem;
}

/*============================================
ヘッダーのアイコン
============================================*/
.keyboard_arrow_left {
    position: absolute;
    cursor: pointer;
    font-size: 3rem;
    margin: 0.5rem;
    color: white;
}

.account_circle {
    position: absolute;
    right: 0px;
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem;
    color: white;
}

/*============================================
ページ表示部
============================================*/
.page {
    position: relative;
    width: 95vw;
    height: 100%;
    padding-top: 1rem;
    margin: 0 auto;
}

/*============================================
全体のページ遷移のアニメーション
============================================*/
.slide-left-enter-to,
.slide-right-enter-to {
    opacity: 1;
}
.slide-left-enter-active,
.slide-right-enter-active {
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.slide-left-leave,
.slide-right-leave {
    opacity: 1;
}
.slide-left-leave-active,
.slide-right-leave-active {
    transition: opacity 250ms ease-out, transform 250ms ease-out;
}
.slide-left-enter {
    opacity: 0;
    transform: translateX(100%);
}
.slide-left-leave-to {
    opacity: 0;
    transform: translateX(-100%);
}
.slide-right-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.slide-right-leave-to {
    opacity: 0;
    transform: translateX(100%);
}
